@import 'theme_color';
@import 'fonts';
@import 'mixin';
@import 'responsive';

/* [Core Stylesheet - 1.0] */

/* :: 1.0 Import Fonts */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Open+Sans:300,400,600,700');

/* :: 2.0 Import All CSS */

@import 'css/bootstrap.min.css';
@import 'css/classy-nav.css';
@import 'css/owl.carousel.min.css';
@import 'css/animate.css';
@import 'css/font-awesome.min.css';
@import 'css/credit-icon.css';

/* :: 3.0 Base CSS */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $opensans-fonts;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $montserrat-fonts;
    color: $dark-color;
    line-height: 1.3;
    font-weight: 700;

}

p {
    color: $text-color;
    font-size: 15px;
    line-height: 2;
    font-weight: 400;
}

a,
a:hover,
a:focus {
    @include trans-duration(500ms);
    text-decoration: none;
    outline: 0 solid transparent;
    color: $dark-color;
    font-weight: 700;
    font-size: 16px;
}

ul,
ol {
    margin: 0;
    li {
        list-style: none;
    }
}

img {
    height: auto;
    max-width: 100%;
}

/* :: 3.1.0 Spacing */

.mt-15 {
    margin-top: 15px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-70 {
    margin-top: 70px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.ml-15 {
    margin-left: 15px !important;
}

.ml-30 {
    margin-left: 30px !important;
}

.ml-50 {
    margin-left: 50px !important;
}

.mr-15 {
    margin-right: 15px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.mr-50 {
    margin-right: 50px !important;
}

/* :: 3.2.0 Height */

.height-400 {
    height: 400px !important;
}

.height-500 {
    height: 500px !important;
}

.height-600 {
    height: 600px !important;
}

.height-700 {
    height: 700px !important;
}

.height-800 {
    height: 800px !important;
}

/* :: 3.3.0 Section Padding */

.section-padding-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-padding-100-0 {
    padding-top: 100px;
    padding-bottom: 0;
}

.section-padding-0-100 {
    padding-top: 0;
    padding-bottom: 100px;
}

.section-padding-100-70 {
    padding-top: 100px;
    padding-bottom: 70px;
}

/* :: 3.4.0 Preloader */

.preloader {
    background-color: $sec-color;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    .lds-ellipsis {
        display: inline-block;
        position: relative;
        width: 64px;
        height: 64px;
        div {
            position: absolute;
            top: 27px;
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background: $pri-color;
            animation-timing-function: cubic-bezier(0, 1, 1, 0);
            &:nth-child(1) {
                left: 6px;
                @include animation(lds-ellipsis1 0.6s infinite);
            }
            &:nth-child(2) {
                left: 6px;
                @include animation(lds-ellipsis2 0.6s infinite);
            }
            &:nth-child(3) {
                left: 26px;
                @include animation(lds-ellipsis2 0.6s infinite);
            }
            &:nth-child(4) {
                left: 45px;
                @include animation(lds-ellipsis3 0.6s infinite);
            }
        }
    }
}

@-webkit-keyframes lds-ellipsis1 {
    0% {
        @include transform(scale(0));
    }
    100% {
        @include transform(scale(1));
    }
}

@keyframes lds-ellipsis1 {
    0% {
        @include transform(scale(0));
    }
    100% {
        @include transform(scale(1));
    }
}

@-webkit-keyframes lds-ellipsis3 {
    0% {
        @include transform(scale(1));
    }
    100% {
        @include transform(scale(0));
    }
}

@keyframes lds-ellipsis3 {
    0% {
        @include transform(scale(1));
    }
    100% {
        @include transform(scale(0));
    }
}

@-webkit-keyframes lds-ellipsis2 {
    0% {
        @include transform(translate(0, 0));
    }
    100% {
        @include transform(translate(19px, 0));
    }
}

@keyframes lds-ellipsis2 {
    0% {
        @include transform(translate(0, 0));
    }
    100% {
        @include transform(translate(19px, 0));
    }
}

/* :: 3.5.0 Miscellaneous */

.jarallax {
    position: relative;
    z-index: 0;
}

.jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.section-heading {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    .line {
        width: 25px;
        height: 5px;
        border-radius: 3px;
        background-color: $pri-color;
        margin-bottom: 20px;
    }
    p {
        font-size: 12px;
        margin-bottom: 0;
        letter-spacing: 2px;
        color: #a5a5a5;
        text-transform: uppercase;
    }
    h2 {
        font-size: 36px;
        color: $heading-color;
        font-weight: 700;
        margin-bottom: 0;
        @media #{$breakpoint-lg} {
            font-size: 28px;
        }
        @media #{$breakpoint-md} {
            font-size: 24px;
        }
        @media #{$breakpoint-xs} {
            font-size: 24px;
        }
    }
    &.white {
        .line {
            background-color: $white-color;
        }
        p,
        h2 {
            color: $white-color;
        }
    }
    &.text-center {
        .line {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.box-shadow {
    position: relative;
    z-index: 1;
    &:hover {
        box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
    }
}

.tooltip-inner {
    background-color: $pri-color;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
}

.tooltip .arrow::before {
    border-bottom-color: $pri-color;
}

.bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-white {
    background-color: #ffffff !important;
}

.bg-dark {
    background-color: #000000 !important;
}

.bg-transparent {
    background-color: transparent !important;
}

.bg-gray {
    background-color: $bg-gray;
}

.font-bold {
    font-weight: 700;
}

.font-light {
    font-weight: 300;
}

.bg-overlay {
    position: relative;
    z-index: 2;
    background-position: center center;
    background-size: cover;
    &::after {
        background-color: rgba(0, 0, 0, 0.61);
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
    }
}

.bg-fixed {
    background-attachment: fixed !important;
}

/* :: 3.6.0 ScrollUp */

#scrollUp {
    background-color: $sec-color;
    border-radius: 5px 0 0 5px;
    bottom: 70px;
    color: $white-color;
    font-size: 10px;
    padding: 12px 0;
    height: 60px;
    line-height: 1.5;
    right: 0;
    text-align: center;
    width: 35px;
    @include trans-duration(500ms);
    font-weight: 700;
    box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
    i {
        font-size: 18px;
        display: block;
    }
    &:hover {
        background-color: $pri-color;
        color: $white-color;
    }
}

/* :: 3.7.0 Credit Button */

.credit-btn {
    @include trans-duration(500ms);
    background-color: $pri-color;
    position: relative;
    z-index: 1;
    display: inline-block;
    min-width: 175px;
    height: 48px;
    color: $white-color;
    border-radius: 5px;
    padding: 0 30px;
    font-size: 14px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    &:hover,
    &:focus {
        font-size: 14px;
        font-weight: 700;
        background-color: $sec-color;
        color: $white-color;
    }
    &.btn-2 {
        background-color: $sec-color;
        color: $white-color;
        &:hover,
        &:focus {
            background-color: $pri-color;
            color: $white-color;
        }
    }
    &.btn-3 {
        background-color: transparent;
        color: $sec-color;
        border: 2px solid $sec-color;
        line-height: 44px;
        &:hover,
        &:focus {
            border: 2px solid $sec-color;
            background-color: $sec-color;
            color: $white-color;
        }
    }
}

/* :: 4.0 Header Area CSS */

.header-area {
    position: relative;
    z-index: 1000;
    width: 100%;
    .top-header-area {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 80px;
        background-color: #f2f4f6;
        .top-contact-info {
            position: relative;
            z-index: 1;
            a {
                display: inline-block;
                color: $text-color;
                font-size: 14px;
                margin-bottom: 0;
                @include display-flex(flex);
                @include align-items(center);
                font-weight: 600;
                img {
                    margin-right: 10px;
                }
                span {
                    @media #{$breakpoint-xs} {
                        display: none;
                    }
                }
                &:first-child {
                    margin-right: 30px;
                }
                &:hover,
                &:focus {
                    color: $sec-color;
                }
                @media #{$breakpoint-md} {
                    font-size: 13px;
                }
            }
        }
    }
    .credit-main-menu {
        position: relative;
        width: 100%;
        z-index: 1;
        background-color: $pri-color;
        &::after {
            width: 50%;
            height: 100%;
            background-color: $sec-color;
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            z-index: 1;
        }
        .classy-nav-container {
            background-color: transparent;
        }
        .classy-navbar {
            height: 85px;
            padding: 0;
            background-color: $sec-color;
            @media #{$breakpoint-xs} {
                height: 70px;
            }
            .classynav ul li a {
                font-weight: 600;
                text-transform: capitalize;
                font-size: 15px;
                padding: 0 15px;
                color: $white-color;
                &:hover,
                &:focus {
                    color: $pri-color;
                }
                @media #{$breakpoint-lg} {
                    font-size: 14px;
                }
                @media #{$breakpoint-md} {
                    color: $sec-color;
                }
                @media #{$breakpoint-xs} {
                    color: $sec-color;
                }
            }
            .classynav > ul > li:first-child a {
                padding-left: 0;
                @media #{$breakpoint-md} {
                    padding-left: 15px;
                }
                @media #{$breakpoint-xs} {
                    padding-left: 15px;
                }
            }
            .classynav ul li.megamenu-item > a::after,
            .classynav ul li.has-down > a::after {
                color: $white-color;
                @media #{$breakpoint-md} {
                    color: $sec-color;
                }
                @media #{$breakpoint-xs} {
                    color: $sec-color;
                }
            }
            .classynav ul li ul li a {
                color: $sec-color;
                font-size: 14px;
            }
            .contact {
                position: relative;
                z-index: 1;
                padding-left: 50px;
                height: 100%;
                overflow-y: hidden;
                overflow-x: hidden;
                &::before {
                    width: 100%;
                    height: 200%;
                    content: '';
                    position: absolute;
                    top: 42%;
                    left: 0;
                    z-index: -1;
                    background-color: $pri-color;
                    @include transform(rotate(30deg));
                }
                &::after {
                    width: 1000%;
                    height: 100%;
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 62px;
                    z-index: -1;
                    background-color: $pri-color;
                }
                a {
                    display: inline-block;
                    font-size: 24px;
                    color: $sec-color;
                    font-weight: 700;
                    line-height: 85px;
                    &:hover {
                        color: $white-color;
                    }
                    @media #{$breakpoint-lg} {
                        font-size: 20px;
                    }
                    @media #{$breakpoint-md} {
                        font-size: 18px;
                    }
                    @media #{$breakpoint-xs} {
                        font-size: 14px;
                        line-height: 70px;
                    }
                }
            }
        }
    }
    .is-sticky {
        .credit-main-menu {
            box-shadow: 0 7px 40px 0 rgba(0, 0, 0, 0.3);
        }
    }
}

/* :: 5.0 Hero Area CSS */

.hero-area {
    position: relative;
    z-index: 1;
    .owl-dots {
        @include display-flex(flex);
        @include justify-content-center;
        position: absolute;
        width: 100%;
        z-index: 100;
        bottom: 30px;
        left: 0;
        right: 0;
        .owl-dot {
            width: 8px;
            height: 8px;
            background-color: #d2d2d2;
            border-radius: 50%;
            margin: 0 6px;
            &.active {
                background-color: $pri-color;
            }
        }
    }
    .owl-prev,
    .owl-next {
        position: absolute;
        width: 46px;
        height: 46px;
        border-radius: 50%;
        top: 50%;
        margin-top: -23px;
        font-size: 18px;
        color: $white-color;
        background-color: $sec-color;
        left: 20px;
        text-align: center;
        @include trans-duration(500ms);
        line-height: 46px;
        opacity: 0;
        visibility: hidden;
        @media #{$breakpoint-xs} {
            left: 10px;
        }
        &:hover {
            background-color: $pri-color;
            color: $white-color;
        }
    }
    .owl-next {
        left: auto;
        right: 20px;
        @media #{$breakpoint-xs} {
            right: 10px;
        }
    }
    &:hover {
        .owl-next,
        .owl-prev {
            opacity: 1;
            visibility: visible;
        }
    }
}

.single-slide {
    position: relative;
    z-index: 99;
    width: 100%;
    height: 760px;
    background-color: $white-color;
    overflow: hidden;
    @media #{$breakpoint-lg} {
        height: 600px;
    }
    @media #{$breakpoint-md} {
        height: 600px;
    }
    @media #{$breakpoint-xs} {
        height: 600px;
    }
    .slide-bg-img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -12;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        // @include animation(slide-bg linear 10000ms infinite);
    }
    .slide-du-indicator {
        position: absolute;
        z-index: 10;
        width: 0;
        height: 2px;
        background-color: $pri-color;
        left: 0;
        bottom: 0;
        @include animation(slide-du-indicator linear 10000ms infinite);
    }
    .welcome-text {
        position: relative;
        z-index: 1;
        h6 {
            font-size: 18px;
            font-weight: 400;
            color: $white-color;
            margin-bottom: 15px;
        }
        h2 {
            font-size: 70px;
            color: $white-color;
            font-weight: 600;
            margin-bottom: 10px;
            text-transform: uppercase;
            span {
                color: $pri-color;
            }
            @media #{$breakpoint-lg} {
                font-size: 48px;
            }
            @media #{$breakpoint-md} {
                font-size: 42px;
            }
            @media #{$breakpoint-xs} {
                font-size: 24px;
            }
        }
        p {
            font-size: 16px;
            color: $white-color;
        }
    }
}

@-webkit-keyframes slide-du-indicator {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes slide-du-indicator {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@-webkit-keyframes slide-bg {
    0% {
        @include transform(scale(1.3));
    }
    100% {
        @include transform(scale(1));
    }
}

@keyframes slide-bg {
    0% {
        @include transform(scale(1.3));
    }
    100% {
        @include transform(scale(1));
    }
}

/* :: 6.0 Features Area CSS */

.single-features-area {
    position: relative;
    z-index: 1;
    h6 {
        font-size: 18px;
        color: #6e6e6e;
        margin-bottom: 0;
        font-family: $opensans-fonts;
        font-weight: 600;
        line-height: 1.8;
    }
    img {
        margin-bottom: 15px;
    }
    h5 {
        font-size: 18px;
        margin-bottom: 0;
        @include trans-duration(500ms);
        @media #{$breakpoint-lg} {
            font-size: 15px;
        }
    }
    &:hover h5 {
        color: $pri-color;
    }
}

/* :: 7.0 Special Feature CSS */

.special-feature-area {
    position: relative;
    z-index: 1;
    .special-feature-content {
        @include flex(0 0 50%);
        max-width: 50%;
        width: 50%;
        background-color: $pri-color;
        @media #{$breakpoint-xs} {
            @include flex(0 0 100%);
            max-width: 100%;
            width: 100%;
        }
        .feature-text {
            position: relative;
            z-index: 1;
            max-width: 555px;
            margin-left: auto;
            padding-right: 70px;
            h6 {
                color: $white-color;
                line-height: 1.7;
                margin-bottom: 50px;
                font-weight: 600;
                @media #{$breakpoint-md} {
                    font-size: 14px;
                }
                @media #{$breakpoint-xs} {
                    font-size: 14px;
                }
            }
            @media #{$breakpoint-lg} {
                max-width: 465px;
                padding-right: 40px;
            }
            @media #{$breakpoint-md} {
                max-width: 350px;
                padding-right: 20px;
            }
            @media #{$breakpoint-xs} {
                max-width: 100%;
                padding-right: 15px;
                padding-left: 15px;
            }
        }
    }
    .special-feature-thumbnail {
        @include flex(0 0 50%);
        max-width: 50%;
        width: 50%;
        @media #{$breakpoint-xs} {
            @include flex(0 0 100%);
            max-width: 100%;
            width: 100%;
            height: 250px;
        }
    }
    &.style-2 {
        .special-feature-content {
            background-color: $sec-color;
            .feature-text {
                margin-left: 0;
                margin-right: auto;
                padding-right: 0;
                padding-left: 70px;
                @media #{$breakpoint-lg} {
                    padding-left: 40px;
                }
                @media #{$breakpoint-md} {
                    padding-left: 20px;
                }
                @media #{$breakpoint-xs} {
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }
    }
}

/* :: 8.0 CTA Area CSS */

.cta-area {
    position: relative;
    z-index: 1;
    .cta-thumbnail {
        @include flex(0 0 50%);
        max-width: 50%;
        width: 50%;
        @media #{$breakpoint-md} {
            @include flex(0 0 100%);
            max-width: 100%;
            width: 100%;
            height: 400px;
        }
        @media #{$breakpoint-xs} {
            @include flex(0 0 100%);
            max-width: 100%;
            width: 100%;
            height: 280px;
        }
    }
    .cta-content {
        position: relative;
        z-index: 1;
        padding: 100px 5%;
        @include flex(0 0 50%);
        max-width: 50%;
        width: 50%;
        background-color: $pri-color;
        @media #{$breakpoint-md} {
            @include flex(0 0 100%);
            max-width: 100%;
            width: 100%;
        }
        @media #{$breakpoint-xs} {
            @include flex(0 0 100%);
            max-width: 100%;
            width: 100%;
        }
        h6 {
            color: $white-color;
            font-weight: 600;
            font-family: $opensans-fonts;
            line-height: 1.8;
        }
        .single-skils-area {
            .skills-text span {
                color: $white-color;
                font-size: 18px;
                font-weight: 700;
            }
            p {
                margin-bottom: 0;
                font-family: $opensans-fonts;
                letter-spacing: 2px;
                color: $white-color;
                text-transform: uppercase;
            }
        }
    }
}

.cta-2-area {
    position: relative;
    z-index: 1;
    background-color: $sec-color;
    padding-top: 50px;
    .cta-content {
        .cta-text {
            position: relative;
            z-index: 1;
            margin-bottom: 50px;
            h4 {
                color: $white-color;
                font-family: $opensans-fonts;
                margin-bottom: 0;
                font-weight: 600;
                @media #{$breakpoint-md} {
                    font-size: 18px;
                }
            }
            p {
                color: $white-color;
                font-size: 14px;
                margin-bottom: 0;
            }
            @media #{$breakpoint-xs} {
                @include flex(0 0 100%);
                max-width: 100%;
                width: 100%;
            }
        }
        .cta-btn {
            position: relative;
            z-index: 1;
            margin-bottom: 50px;
            @media #{$breakpoint-xs} {
                @include flex(0 0 100%);
                max-width: 100%;
                width: 100%;
            }
        }
    }
}

.contact--area,
.news--area {
    .section-heading {
        h2 {
            font-size: 24px;
        }
    }
}

.news--area {
    position: relative;
    z-index: 1;
}

.single-news-area {
    position: relative;
    z-index: 1;
    margin-bottom: 15px;
    &:last-child {
        margin-bottom: 0;
    }
    .news-thumbnail {
        @include flex(0 0 37%);
        max-width: 37%;
        width: 37%;
    }
    .news-content {
        @include flex(0 0 63%);
        max-width: 63%;
        width: 63%;
        padding-left: 15px;
        span {
            font-size: 10px;
            color: $white-color;
            background-color: $pri-color;
            padding: 3px 15px;
            border-radius: 30px;
            display: inline-block;
            margin-bottom: 5px;
        }
        a {
            display: block;
            font-weight: 400;
            font-size: 16px;
            margin-bottom: 0;
            &:hover,
            &:focus {
                color: $pri-color;
            }
        }
        .news-meta {
            a {
                position: relative;
                z-index: 1;
                display: inline-block;
                font-size: 12px;
                color: $text-color;
                font-weight: 600;
                margin-bottom: 0;
                line-height: 1;
                img {
                    margin-right: 5px;
                }
                &:last-child {
                    margin-left: 31px;
                    &::after {
                        content: '|';
                        position: absolute;
                        top: 0;
                        left: -20px;
                        z-index: 1;
                    }
                }
                &:hover,
                &:focus {
                    color: $pri-color;
                }
                @media #{$breakpoint-lg} {
                    font-size: 10px;
                }
                @media #{$breakpoint-xs} {
                    font-size: 10px;
                }
            }
        }
    }
}

.contact--area {
    position: relative;
    z-index: 1;
    .contact-content {
        padding: 55px 45px;
        background-color: #ffffff;
        border: 1px solid #afbace;
        @media #{$breakpoint-lg} {
            padding: 30px;
        }
        @media #{$breakpoint-xs} {
            padding: 20px;
        }
        .single-contact-content {
            position: relative;
            z-index: 1;
            margin-bottom: 45px;
            &:last-child {
                margin-bottom: 0;
            }
            .icon {
                @include flex(0 0 48px);
                max-width: 48px;
                width: 48px;
                height: 48px;
                line-height: 48px;
                color: $white-color;
                text-align: center;
                margin-right: 15px;
                background-color: $pri-color;
            }
            .text {
                p {
                    font-weight: 600;
                    color: $heading-color;
                    margin-bottom: 0;
                    @media #{$breakpoint-lg} {
                        font-size: 12px;
                    }
                    @media #{$breakpoint-xs} {
                        font-size: 12px;
                    }
                }
                span {
                    font-size: 11px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    color: $text-color;
                }
            }
        }
    }
    &.contact-page {
        .contact-content {
            padding: 35px;
            border: none;
            background-color: $sec-color;
            h5 {
                color: $white-color;
                font-weight: 600;
                font-size: 18px;
                margin-bottom: 35px;
            }
            .single-contact-content {
                .text {
                    p,
                    span {
                        color: $white-color;
                    }
                }
            }
        }
    }
}

/* :: 9.0 Newsletter Area CSS */

.newsletter-area {
    position: relative;
    z-index: 3;
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 54, 121, 0.7);
        z-index: -1;
    }
    .nl-content {
        position: relative;
        z-index: 1;
        h2 {
            color: $white-color;
            margin-bottom: 25px;
            display: block;
            font-weight: 400;
            font-size: 30px;
            @media #{$breakpoint-xs} {
                font-size: 18px;
            }
        }
        form {
            width: 100%;
            position: relative;
            z-index: 1;
            margin-bottom: 30px;
            input {
                width: 100%;
                height: 45px;
                background-color: $white-color;
                border-radius: 30px;
                border: none;
                font-size: 12px;
                font-style: italic;
                padding: 0 20px;
            }
            button {
                @include trans-duration(500ms);
                position: absolute;
                width: 130px;
                height: 45px;
                background-color: $pri-color;
                border: none;
                border-radius: 0 30px 30px 0;
                top: 0;
                right: 0;
                font-weight: 700;
                font-size: 14px;
                color: $white-color;
                text-align: center;
                cursor: pointer;
                z-index: 20;
                &:hover {
                    background-color: $sec-color;
                }
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
                @media #{$breakpoint-xs} {
                    width: 100px;
                }
            }
        }
        p {
            font-size: 12px;
            color: $white-color;
            margin-bottom: 0;
        }
    }
}

/* :: 10.0 Team Member Area CSS */

.single-team-member-area {
    position: relative;
    z-index: 1;
    text-align: center;
    .team-thumb {
        @include trans-duration(500ms);
        position: relative;
        z-index: 1;
        width: 180px;
        border-radius: 50%;
        margin: 0 auto 40px;
        height: 180px;
        &::after {
            @include trans-duration(500ms);
            content: '';
            width: 100%;
            height: 100%;
            background-color: transparent;
            border: 8px solid $sec-color;
            top: 0;
            left: 0;
            position: absolute;
            z-index: 100;
            border-radius: 50%;
            opacity: 0;
            visibility: hidden;
        }
        img {
            border-radius: 50%;
        }
        .view-more {
            a {
                position: absolute;
                width: 62px;
                height: 62px;
                border-radius: 15px;
                background-color: $pri-color;
                text-align: center;
                bottom: -10px;
                right: 0;
                z-index: 300;
                color: $white-color;
                line-height: 62px;
                font-size: 18px;
                &:hover {
                    background-color: $sec-color;
                }
            }
        }
        &:hover {
            box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
            &::after {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    .team-info {
        position: relative;
        z-index: 1;
        h5 {
            @include trans-duration(500ms);
            font-size: 18px;
            margin-bottom: 5px;
        }
        h6 {
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 0;
            color: #6e6e6e;
        }
    }
    &:hover {
        .team-info {
            h5 {
                color: $pri-color;
            }
        }
    }
}

/* :: 11.0 Footer Area CSS */

.footer-area {
    position: relative;
    z-index: 1;
    background-color: $foo-color;
    .single-footer-widget {
        position: relative;
        z-index: 1;
        .widget-title {
            font-size: 18px;
            color: $pri-color;
            margin-bottom: 40px;
            font-weight: 400;
        }
        ul {
            li {
                a {
                    display: block;
                    color: $white-color;
                    font-size: 14px;
                    font-weight: 400;
                    margin-bottom: 30px;
                    position: relative;
                    z-index: 1;
                    padding-left: 23px;
                    &::before {
                        content: '';
                        width: 8px;
                        height: 8px;
                        top: 7px;
                        left: 0;
                        border-radius: 50%;
                        background-color: $pri-color;
                        position: absolute;
                        z-index: 1;
                    }
                    &:hover,
                    &:focus {
                        color: $pri-color;
                    }
                }
                &:last-child {
                    a {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .copywrite-area {
        position: relative;
        z-index: 1;
        border-top: 1px solid #3c4450;
        padding: 30px 0;
        .copywrite-text {
            font-size: 14px;
            margin-bottom: 0;
            color: #636b75;
            font-weight: 400;
            @media #{$breakpoint-xs} {
                margin-top: 30px;
            }
            @media #{$breakpoint-xs-landscape} {
                margin-top: 0;
            }
            a {
                color: #636b75;
                font-size: 14px;
                font-weight: 400;
                &:hover,
                &:focus {
                    color: $pri-color;
                }
            }
        }
    }
}

/* :: 12.0 Blog Area CSS */

.breadcrumb-area {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 255px;
    @media #{$breakpoint-xs} {
        height: 180px;
    }
    .breadcrumb-content {
        h2 {
            color: $white-color;
            font-size: 30px;
            text-transform: uppercase;
            display: block;
            @media #{$breakpoint-xs} {
                font-size: 24px;
            }
        }
        .breadcrumb {
            background-color: transparent;
            padding: 0;
            margin-bottom: 0;
            .breadcrumb-item {
                &::before {
                    color: $white-color;
                }
                &.active {
                    color: $pri-color;
                    font-size: 16px;
                    font-weight: 600;
                }
                a {
                    font-size: 16px;
                    color: $white-color;
                    font-weight: 600;
                    &:hover {
                        color: $pri-color;
                    }
                }
            }
        }
    }
}

.single-latest-news-area {
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0;
    }
    .news-thumbnail {
        @include flex(0 0 25%);
        max-width: 25%;
        width: 25%;
    }
    .news-content {
        @include flex(0 0 75%);
        max-width: 75%;
        width: 75%;
        padding-left: 10px;
        a {
            display: block;
            font-weight: 600;
            font-size: 14px;
            margin-bottom: 0;
            color: $white-color;
            &:hover,
            &:focus {
                color: $pri-color;
            }
        }
        .news-meta {
            a {
                position: relative;
                z-index: 1;
                display: inline-block;
                font-size: 12px;
                color: $text-color;
                font-weight: 600;
                margin-bottom: 0;
                @media #{$breakpoint-lg} {
                    font-size: 9px;
                }
                img {
                    margin-right: 2px;
                }
                &:last-child {
                    margin-left: 21px;
                    &::after {
                        content: '|';
                        position: absolute;
                        top: 0;
                        left: -15px;
                        z-index: 1;
                    }
                }
                &:hover,
                &:focus {
                    color: $pri-color;
                }
            }
        }
    }
}

.single-blog-area {
    position: relative;
    z-index: 1;
    .blog-thumbnail {
        position: relative;
        z-index: 1;
        margin-bottom: 35px;
        a {
            display: block;
            img {
                border-radius: 5px;
            }
        }
    }
    .blog-content {
        position: relative;
        z-index: 1;
        span {
            font-size: 10px;
            color: $white-color;
            background-color: $pri-color;
            padding: 3px 15px;
            border-radius: 30px;
            display: inline-block;
            margin-bottom: 5px;
        }
        .post-title {
            display: block;
            font-weight: 600;
            font-size: 24px;
            margin-bottom: 0;
            color: $heading-color;
            &:hover,
            &:focus {
                color: $pri-color;
            }
        }
        .blog-meta {
            margin-bottom: 30px;
            a {
                position: relative;
                z-index: 1;
                display: inline-block;
                font-size: 12px;
                color: $text-color;
                font-weight: 600;
                margin-bottom: 0;
                @media #{$breakpoint-lg} {
                    font-size: 9px;
                }
                img {
                    margin-right: 2px;
                }
                &:last-child {
                    margin-left: 21px;
                    &::after {
                        content: '|';
                        position: absolute;
                        top: 0;
                        left: -15px;
                        z-index: 1;
                    }
                }
                &:hover,
                &:focus {
                    color: $pri-color;
                }
            }
        }
        p {
            margin-bottom: 0;
        }
    }
}

.post-details-content {
    position: relative;
    z-index: 1;
    img {
        border-radius: 5px;
        margin-bottom: 30px;
    }
    p {
        margin-bottom: 25px;
    }
}

.pagination {
    position: relative;
    z-index: 1;
    .page-item {
        .page-link {
            width: 40px;
            height: 40px;
            background-color: $white-color;
            border-radius: 5px;
            line-height: 40px;
            font-weight: 600;
            font-size: 16px;
            color: $heading-color;
            padding: 0;
            border: none;
            text-align: center;
            margin-right: 2px;
            &:hover,
            &:focus {
                color: $white-color;
                background-color: $pri-color;
            }
        }
        &.active {
            .page-link {
                color: $white-color;
                background-color: $pri-color;
            }
        }
    }
}

.sidebar-area {
    position: relative;
    z-index: 1;
    @media #{$breakpoint-md} {
        margin-top: 100px;
    }
    @media #{$breakpoint-xs} {
        margin-top: 100px;
    }
}

.single-widget-area {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
    &:last-child {
        margin-bottom: 0;
    }
    .widget-heading {
        position: relative;
        z-index: 1;
        margin-bottom: 35px;
        .line {
            width: 30px;
            height: 8px;
            background-color: $pri-color;
            border-radius: 5px;
            display: block;
            margin-bottom: 15px;
        }
    }
    &.search-widget {
        position: relative;
        z-index: 1;
        form {
            position: relative;
            z-index: 1;
            input {
                width: 100%;
                height: 50px;
                border-radius: 5px;
                border: none;
                background-color: $bg-gray;
                padding: 0 20px;
                font-size: 12px;
                font-style: italic;
            }
            button {
                @include trans-duration(500ms);
                position: absolute;
                width: 125px;
                height: 50px;
                border: none;
                top: 0;
                right: 0;
                z-index: 99;
                background-color: $sec-color;
                color: $pri-color;
                font-weight: 600;
                font-size: 14px;
                text-transform: uppercase;
                border-radius: 5px;
                cursor: pointer;
                &:hover {
                    background-color: $pri-color;
                    color: $sec-color;
                }
            }
        }
    }
    &.cata-widget {
        ul {
            padding-left: 35px;
            li {
                a {
                    display: block;
                    font-size: 15px;
                    padding: 7px 0;
                    font-weight: 600;
                    color: $sec-color;
                    &:hover,
                    &:focus {
                        color: $pri-color;
                    }
                }
            }
        }
    }
}

.comment_area {
    border-bottom: 1px solid $border-color;
    padding-bottom: 50px;
    .comment-content {
        .comment-author {
            @include flex(0 0 51px);
            min-width: 51px;
            margin-right: 30px;
            height: 51px;
            border-radius: 50%;
            @media #{$breakpoint-xs} {
                margin-right: 15px;
            }
            img {
                border-radius: 50%;
            }
        }
        .comment-meta {
            margin-bottom: 30px;
            .post-author,
            .post-date,
            .reply {
                position: relative;
                z-index: 1;
                margin-bottom: 5px;
                display: inline-block;
                font-size: 14px;
                color: $heading-color;
                margin-right: 30px;
                @media #{$breakpoint-xs} {
                    font-size: 12px;
                    margin-right: 15px;
                }
                &::after {
                    position: absolute;
                    top: 0;
                    right: -16px;
                    content: '|';
                    z-index: 1;
                    @media #{$breakpoint-xs} {
                        right: -8px;
                    }
                }
                &:hover {
                    color: $sec-color;
                }
            }
            .reply {
                margin-right: 0;
                &::after {
                    display: none;
                }
            }
            p {
                margin-bottom: 15px;
                font-size: 14px;
                line-height: 2;
                font-weight: 500;
            }
        }
    }
    .single_comment_area {
        margin-bottom: 30px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    .children {
        .single_comment_area {
            margin-left: 50px;
            margin-top: 30px;
        }
    }
}

/* :: 13.0 Contact Area CSS */

.contact-advisor {
    position: relative;
    z-index: 1;
    background-color: $pri-color;
    padding: 35px;
    h5 {
        font-size: 18px;
        color: $white-color;
        font-weight: 600;
        margin-bottom: 40px;
    }
    .single-advisor {
        position: relative;
        z-index: 1;
        margin-bottom: 60px;
        &:last-child {
            margin-bottom: 0;
        }
        .advisor-img {
            @include flex(0 0 80px);
            max-width: 80px;
            width: 80px;
            margin-right: 30px;
        }
        .advisor-info {
            h6 {
                color: $white-color;
                margin-bottom: 5px;
                font-weight: 600;
            }
            span {
                font-size: 12px;
                text-transform: capitalize;
                margin-bottom: 15px;
                display: block;
                color: $white-color;
            }
            p {
                font-size: 14px;
                margin-bottom: 0;
                line-height: 1;
                font-weight: 700;
                color: $white-color;
            }
        }
    }
}

.contact-form-area {
    .form-control {
        position: relative;
        z-index: 2;
        height: 54px;
        width: 100%;
        background-color: $bg-gray;
        font-size: 12px;
        margin-bottom: 15px;
        border: none;
        border-radius: 5px;
        padding: 15px 30px;
        font-weight: 500;
        color: #aeaeae;
        @include trans-duration(500ms);
        &:focus {
            box-shadow: none;
        }
    }
    textarea.form-control {
        height: 250px;
    }
}

.map-area {
    position: relative;
    z-index: 2;
    height: 960px;
    @media #{$breakpoint-md} {
        height: 1200px;
    }
    @media #{$breakpoint-xs} {
        height: 1200px;
    }
    iframe {
        width: 100%;
        height: 100%;
        border: none;
        margin-bottom: 0;
    }
    .contact---area {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        @include transform(translateY(-50%));
        .contact-page {
            background-color: $sec-color;
            padding: 70px 45px;
            @media #{$breakpoint-xs} {
                padding: 40px 30px;
            }
            h4 {
                color: $white-color;
                font-weight: 600;
            }
        }
    }
}

/* :: 14.0 Elements Area CSS */

.elements-title {
    position: relative;
    z-index: 1;
    .line {
        width: 30px;
        height: 8px;
        background-color: $pri-color;
        border-radius: 5px;
        display: block;
        margin-bottom: 15px;
    }
    h2 {
        font-size: 24px;
        margin-bottom: 0;
    }
}

.single-service-area {
    position: relative;
    z-index: 1;
    .icon {
        @include trans-duration(500ms);
        @include flex(0 0 60px);
        max-width: 60px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: $sec-color;
        text-align: center;
        margin-right: 20px;
        line-height: 60px;
        color: $white-color;
        font-size: 30px;
    }
    .text {
        h5 {
            @include trans-duration(500ms);
            font-size: 18px;
        }
        p {
            margin-bottom: 0;
        }
    }
    &:hover,
    &:focus {
        .icon {
            background-color: $pri-color;
        }
        .text {
            h5 {
                color: $pri-color;
            }
        }
    }
}

.single-cool-fact {
    position: relative;
    z-index: 1;
    .scf-icon {
        position: relative;
        z-index: 1;
        @include flex(0 0 70px);
        max-width: 70px;
        width: 70px;
        i {
            color: $pri-color;
            font-size: 65px;
        }
        @media #{$breakpoint-lg} {
            @include flex(0 0 40px);
            max-width: 40px;
            width: 40px;
            i {
                font-size: 40px;
            }
        }
    }
    .scf-text {
        h2 {
            font-size: 48px;
            margin-bottom: 10px;
            color: $heading-color;
            font-weight: 600;
            @media #{$breakpoint-lg} {
                font-size: 36px;
            }
            @media #{$breakpoint-md} {
                font-size: 30px;
            }
            @media #{$breakpoint-xs} {
                font-size: 24px;
            }
        }
        p {
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 0;
            color: $heading-color;
            line-height: 1;
        }
    }
    &.white {
        .scf-icon i,
        .scf-text h2,
        .scf-text p {
            color: $white-color;
        }
    }
}

.single-accordion {
    &.panel {
        background-color: $white-color;
        border: 0 solid transparent;
        border-radius: 4px;
        box-shadow: 0 0 0 transparent;
        margin-bottom: 15px;
    }
    &:last-of-type {
        margin-bottom: 0;
    }
    h6 {
        margin-bottom: 0;
        a {
            font-family: $opensans-fonts;
            background-color: $sec-color;
            border-radius: 5px;
            color: $white-color;
            display: block;
            margin: 0;
            padding: 20px 70px 20px 30px;
            position: relative;
            font-size: 16px;
            text-transform: capitalize;
            font-weight: 600;
            span {
                background: transparent;
                @include trans-duration(500ms);
                font-size: 10px;
                position: absolute;
                right: 0;
                text-align: center;
                top: 0;
                width: 58px;
                height: 100%;
                color: $white-color;
                line-height: 58px;
                &.accor-open {
                    opacity: 0;
                }
            }
            &.collapsed {
                @include trans-duration(500ms);
                background-color: $pri-color;
                color: $white-color;
            }
        }
    }
    .accordion-content {
        border-top: 0 solid transparent;
        box-shadow: none;
        p {
            padding: 15px 15px 0;
            margin-bottom: 0;
        }
    }
}

.single-skils-area {
    position: relative;
    z-index: 1;
    text-align: center;
    .circle {
        position: relative;
        z-index: 10;
        margin-bottom: 15px;
    }
    .skills-text {
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        @include transform(translate(-50%, -50%));
        span {
            font-size: 18px;
            color: $heading-color;
            font-weight: 600;
        }
    }
    p {
        margin-bottom: 0;
        font-family: $opensans-fonts;
        letter-spacing: 2px;
        color: $heading-color;
        text-transform: uppercase;
    }
}

.credit-tabs-content {
    position: relative;
    z-index: 1;
    .nav-tabs {
        border-bottom: none;
        margin-bottom: 15px;
        .nav-link {
            background-color: $bg-gray;
            padding: 0 20px;
            height: 50px;
            line-height: 50px;
            color: $heading-color;
            margin: 0 2px;
            border-radius: 5px;
            font-size: 16px;
            font-weight: 600;
            @media #{$breakpoint-lg} {
                padding: 0 15px;
                font-size: 14px;
            }
            @media #{$breakpoint-md} {
                padding: 0 15px;
                font-size: 14px;
            }
            @media #{$breakpoint-xs} {
                padding: 0 15px;
                font-size: 14px;
            }
            &.active {
                background-color: $sec-color;
                color: $white-color;
            }
        }
    }
    .credit-tab-text {
        position: relative;
        z-index: 1;
        padding-top: 10px;
        p {
            margin-bottom: 0;
        }
    }
    .tab-content {
        h6 {
            font-size: 18px;
        }
    }
}

.single-icons {
    position: relative;
    z-index: 1;
    background-color: $sec-color;
    border-radius: 5px;
    text-align: center;
    padding: 50px 20px;
    i {
        font-size: 50px;
        margin-bottom: 30px;
        display: block;
        color: #fff;
    }
    span {
        display: block;
        color: #fff;
    }
}

/* ====== The End ====== */